<!doctype html>
<html>
 <head>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.1/underscore-min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js'></script>
  <script src='example2.js'></script>
 </head>
 <body>
 	<script type="text/template" id="log-template">
 	<h2>Log Information</h2>
    	<div id="details">
        	<% _.each(responses, function(response) { %>
        	<%= response.source %><br />
        	<% }); %>
    	</div>
	</script>
 
 	<div id="container">
 		
 	</div>
 </body>
</html>